<h3>Add Sodas</h3>

{% if success %}

<p>{{success}} Add more below.</p>

{% endif %}

{% if error %}

<p><strong>{{error}}</strong>. Try again below.</p>

{% endif %}
<p><a href="/">Back to Machine List</a></p>
<!-- The form action and method correspond to a Flask route -->
<form action="/addsodas" method="POST">
<label for="name_id">Machine Name</label>
<select id="name_id"name="name_field">
  {% for machine in machines %}
    <option value="{{ machine.machine_name }}">{{ machine.machine_name }}</option>
  {% endfor %}
</select>

<label for="sodas_id">Sodas (Comma separated -- case sensitive)</label>
<input id="sodas_id" name="sodas_field" type="text" />


<!-- We need a submit button to submit a form! -->
<input type="submit" value="Add"/>

</form>
